
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');


.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border: 1px solid black;
}


.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
}

.header .logo {
    padding: 0 15px;
    
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #e91e63;
    font-weight: 600;

}
.header .nav-menu {
    
    padding: 0 15px;
}
.header .menu > .menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.header .menu >  .menu-item > a {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu > .menu-item > a .plus{
    display: inline-block;
    height: 12px;
    width: 12px;
  
    position: relative;

    margin-left: 5px;
}

.header .menu > .menu-item > a .plus:after,

.header .menu > .menu-item > a .plus:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    background-color: #000;
    height: 2px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu > .menu-item:hover > a .plus:after,

.header .menu > .menu-item:hover> a .plus:before {
    background-color: #e91e63;
  
}



.header .menu > .menu-item > a .plus:before {
    transform: translate(-50%)   rotate(-90deg) ;
}



.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu >  .menu-item:hover > a {
    color: #e91e63;
   
}

.header .menu > .menu-item > .sub-menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    padding: 10px 0;
    border-top: 3px solid #e91e63;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;


}
@media (min-width: 992px) {
.header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

}
 .header .menu > .menu-item-has-children:hover > a .plus:before{
        transform: translate(-50%, -50%) rotate(0deg);
 }
}

.header .menu > .menu-item > .sub-menu > .menu-item {
    display: block;
    
}

.header .menu > .menu-item > .sub-menu > .menu-item > a{
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: all 0.3s ease;
    text-transform: capitalize;
   
   
}

.header  .open-nav-menu {
    height: 34px;
    width: 40px;
   
    margin-right: 15px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000;
    position: relative;
    box-sizing: border-box;
}
.header .open-nav-menu span::after {
    content:"";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 7px;
    box-sizing: border-box;
    
}

.header .open-nav-menu span::before {
    content:"";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: -7px;
    box-sizing: border-box;
}
.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20px;
    }
}

// responive
@media (max-width: 991px){
    .header  .nav-menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 280px;
        height: 100%;
        overflow-y:  auto;
     
        color: white;
        border: 1px solid black;
        z-index: 1000;
       padding: 15px 0;
       background-color: #222;
    }

    .header .menu > .menu-item {
        display: block;
        margin: 0;
    }
    
    .header .menu > .menu-item-has-children   > a  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu > .menu-item > a {
        color: white;
        padding: 12px 15px;
        border-bottom: 1px solid gray;
    }

    .header .menu > .menu-item:first-child  > a {
        border-top: 1px solid  white;
    }

    .header .menu > .menu-item > a .plus:before, 
     .header  .menu > .menu-item > a .plus:after {
        background-color: #fff;
     }
    .header  .menu > .menu-item > .sub-menu {
        width: 100%;
    }

    .header .menu > .menu-item >  .sub-menu {
        width: 100%;

    }

    .header .open-nav-menu {
        display: flex;
    }

  


}

